.space {
    margin-left: 10px;
}

.letters {
    display: inline-block;
    animation: fadeIn 1s backwards;
}

.letters-hover {
    display: inline-block;
}

.letters-hover.animate {
    animation: jello 1s forwards;
}

@for $i from 1 through 35 {
    .letters._#{$i} {
        animation-delay: #{$i / 10}s;
    }
}