.projectspage {
    overflow: clip;

    .textarea {
        width: 40%;

        h1 {
            color: gold;

            &::after {
                animation-delay: 1.2s;
                margin-top: 6.5%;
            }
        }

        .description {
            width: 100%;

            p {
                line-height: 1.4;
                animation: fadeInUp 1.5s backwards;
                position: relative;

                &::after {
                    font-size: 20px;
                    font-family: 'La Belle Aurore';
                    opacity: 0.8;
                    color: lightslategrey;
                    margin-left: 0.8em;
                }

                &:nth-of-type(1) {
                    animation-delay: 1.3s;

                    &::before {
                        content: '<p>';
                        font-size: 20px;
                        font-family: 'La Belle Aurore';
                        opacity: 0.8;
                        color: lightslategrey;
                        position: absolute;
                        top: -110%;
                    }
                }

                &:nth-of-type(2) {
                    animation-delay: 3.5s;

                    &::after {
                        content: '</p>';
                    }
                }
            }

            a {
                cursor: pointer;
                text-decoration: none;
                display: flex;
                align-items: center;
                position: absolute;
                
                .codepenLogo {
                    background-color: gold;
                    color: black;
                    padding: 10px;
                    border-radius: 10px;
                    animation: zoomInLeft 1.5s 3.7s backwards;
                    transition: .2s ease all;
                    font-size: 2em;
                }

                &:hover {

                    .codepenLogo {
                        box-shadow: 0px 0px 10px 4px gold;
                    }
                }
            }
        }
    }
}

@media(max-width: '900px') {
    .projectspage {
        min-height: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .textarea {
            position: relative;
            width: 80%;
            height: auto;
            margin-top: 20%;

            h1 {
                &::after, &::before {
                    font-size: 12px;
                }

                &::before {
                    margin-top: 2%;
                }

                &::after {
                    margin-top: 8%;
                }
            }

            .description {
                p {
                    font-size: 0.9em;

                    &:nth-of-type(1) {
                        &::before {
                            font-size: 12px;
                            margin-top: 5px;
                        }
                    }

                    &:nth-of-type(2) {
                        animation-delay: 2.3s;

                        &::after {
                            font-size: 12px;
                        }
                    }
                }

                a {
                    .codepenLogo {
                        font-size: 1.5em;
                        animation-delay: 2.4s;
                    }
                }
            }
        }
    }    
}