.contactpage {

    .textarea {
        top: 14%;
        width: 42%;

        h1 {
            color: gold;

            &::after {
                animation-delay: 1.2s;
            }

            &::before, &::after {
                top: 2%;
            }
        }

        p {
            animation-delay: 1.5s;
            position: relative;

            &::before, &::after {
                font-size: 20px;
                font-family: 'La Belle Aurore';
                opacity: 0.8;
                color: lightslategrey;
            }

            &::before {
                content: '<p>';
                position: absolute;
                top: -40%;
            }

            &::after {
                content: '</p>';
                margin-left: 10px;
            }
        }

        form {
            width: 90%;
            padding-bottom: 2em;
            position: relative;
            margin-top: 2em;
            overflow: hidden;

            input, textarea {
                background-color: rgb(41, 41, 41);
                border: none;
                outline: none;
                color: white;
                font-size: 1em;
                padding: 15px;
                line-height: 1.4;
            }

            .firstRow {
                width: 100%;
                display: flex;

                input {
                    width: 50%;

                    &:nth-of-type(1) {
                        border-radius: 10px 0 0 0;
                        animation: fadeInLeft 1s 1.6s backwards;
                    }
                    
                    &:nth-of-type(2) {
                        border-radius: 0px 10px 0 0;
                        margin-left: 0.4em;
                        animation: fadeInRight 1s 1.7s backwards;
                    }
                }
            }
            
            .remainingFields {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-top: 0.4em;
                
                input {
                    animation: fadeInUp 1s 1.8s backwards;
                }
                
                textarea {
                    resize: none;
                    height: 10em;
                    margin-top: 0.4em;
                    border-radius: 0 0 10px 10px;
                    font-family: sans-serif;
                    animation: fadeInUp 1s 1.9s backwards;
                }
                
                button {
                    float: left;
                    width: 100px;
                    height: 40px;
                    margin-top: 2em;
                    border-radius: 10px;
                    border: 1px solid gold;
                    background-color: black;
                    color: gold;
                    animation: fadeInUp 1s 2.2s backwards;
                    transition: .2s ease-out all;

                    &:hover {
                        color: black;
                        background-color: gold;
                    }
                }
            }
        }
    }
}

@media(max-width: '900px') {
    .contactpage {
        display: flex;
        justify-content: center;
        height: auto;
        min-height: 100%;
    
        .textarea {
            width: 80%;
            height: 100%;
            position: relative;
            left: unset;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-top: 20%;

            h1 {
                &::before, &::after {
                    font-size: 15px;
                }

                &::before {
                    margin-top: 5px;
                }

                &::after {
                    margin-top: 13%;
                }
            }

            p {
                &::before, &::after {
                    font-size: 15px;
                }
            }
            
            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .firstRow {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    input {
                        width: 100%;
                        margin: 0.4em 0 0 0 !important;
                        padding-left: 3em;
                    }
                }

                .remainingFields {
                    align-items: center;
                    input {
                        width: 100%;
                        padding-left: 3em;
                    }
                    textarea {
                        width: 100%;
                        padding-left: 3em;
                    }
                }
            }
        }
    }
}