.header {
    background-color: black;
    height: 100%;
    width: 6%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #logo {
        display: block;

        img {
            display: block;
            height: auto;
            width: 100%;
            filter: invert(1);
        }
    }

    #navbar {

        ul {
            margin: 0;
            padding: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            
            li {
                list-style: none;
                margin: 10px 0;
                padding: 10px 0;
                display: flex;
                align-items: center;
                justify-content: center;

                &:nth-child(1) {
                    a {
                        &::before {
                            content: 'HOME';
                        }
                    }
                }

                &:nth-child(2) {
                    a {
                        &::before {
                            content: 'ABOUT'
                        }
                    }
                }

                &:nth-child(3) {
                    a {
                        &::before {
                            content: 'PROJECTS'
                        }
                    }
                }

                a {
                    width: 100%;
                    color: white;
                    text-decoration: none;
                    transition: .2s ease all;
                    position: relative;
                    text-align: center;

                    svg {
                        width: 30%;
                        height: auto;
                        transition: .2s ease all;
                    }

                    &:hover {
                        svg {
                            opacity: 0;
                        }

                        &::before {
                            opacity: 1;
                        }
                    }

                    &:focus {
                        outline: none;
                    }

                    &::before {
                        color: gold;
                        position: absolute;
                        width: 100%;
                        text-align: center;
                        left: 0;
                        opacity: 0;
                        transition: .2s ease all;
                    }

                    &::after {
                        content: '';
                        width: 25%;
                        height: 5px;
                        border-radius: 5px;
                        bottom: -8px;
                        right: calc(75% / 2);
                        position: absolute;
                        background-color: gold;
                        box-shadow: 0px 0px 10px 5px gold;
                        transition: .3s ease all;
                        opacity: 0; 
                    }

                    &.active {

                        &::before {
                            color: white;
                        }
                        
                        &::after {
                            opacity: 1;
                        }

                    }
                }
            }
        }
    }

    #socials {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;

        a {
            width: 100%;
            text-align: center;
            text-decoration: none;
            color: white;
            margin: 10px 0;
            transition: .2s ease all;

            svg {
                width: 25%;
                height: auto;
            }

            &:hover {
                color: gold;
            }
        }
    }
}