.homepage {
    
    .textarea {

        h1 {

            &::before {
                top: 4%;
            }

            &::after {
                animation-delay: 2.3s;
                margin-top: 10%;
            }
        }

        h2 {
            font-weight: 300;
            color: gold;
            animation: fadeIn 1s 2.3s backwards;

            &::after {
                content: '</h2>';
                margin-left: 20px;
                position: absolute;
                font-family: 'La Belle Aurore';
                font-size: 20px;
                color: lightslategrey;
                opacity: 0.8;
                animation: fadeIn 1s 2.4s backwards;
            }
        }

        a {
            text-decoration: none;
            color: gold;
            font-weight: 400;
            border: 1px solid gold;
            border-radius: 12px;
            padding: 12px 20px;
            margin-top: 1em;
            float: left;
            transition: .2s ease all;
            animation: fadeIn 1s 2.3s backwards;

            &::after {
                content: '</button>';
                margin-left: 50px;
                position: absolute;
                font-family: 'La Belle Aurore';
                font-size: 20px;
                color: lightslategrey;
                opacity: 0.8;
                animation: fadeIn 1s 2.4s backwards;
            }

            &:hover {
                background-color: gold;
                color: black;
            }
        }
    }
}

#footer {
    position: absolute;
    font-size: 0.7em;
    font-family: sans-serif;
    letter-spacing: 10px;
    padding: 20px 0;
    color: lightslategray;
    background-color: transparent;
    bottom: -300%;
    width: 100%;
    text-align: center;
}

@media(max-width: '900px') {
    .homepage {
        .textarea {
            h1 {
                &::after {
                    margin-left: 3%;
                    font-size: 15px;
                }

                &::before {
                    font-size: 15px;
                }
            }

            h2 {
                font-size: large;
                &::after {
                    margin: 1% 0 0 3%;
                    font-size: 15px;
                }
            }

            a {
                font-size: medium;

                &::after {
                    font-size: 15px;
                    margin-left: 12%;
                }
            }
        }
    }

    #footer {
        bottom: -456%;
        font-size: 0.5em;
        letter-spacing: 5px;
    }
}