.homepage {
    
    .textarea {

        h1 {
            font-size: 4em;
            font-weight: 300;
            line-height: 1.2;

            &::before, &::after {
                position: absolute;
                font-family: 'La Belle Aurore';
                font-size: 20px;
                color: lightslategrey;
                opacity: 0.8;
            }

            &::before {
                content: '<h1>';
                top: 5%;
            }

            &::after {
                content: '</h1>';
                margin: 2em 0 0 1em;
                animation: fadeIn 1s 2.3s backwards;
            }
        }

        h2 {
            font-weight: 300;
            color: gold;
            animation: fadeIn 1s 2.3s backwards;

            &::after {
                content: '</h2>';
                margin-left: 20px;
                position: absolute;
                font-family: 'La Belle Aurore';
                font-size: 20px;
                color: lightslategrey;
                opacity: 0.8;
                animation: fadeIn 1s 2.4s backwards;
            }
        }

        a {
            text-decoration: none;
            color: gold;
            font-weight: 400;
            border: 1px solid gold;
            border-radius: 12px;
            padding: 12px 20px;
            margin-top: 1em;
            float: left;
            transition: .2s ease all;
            animation: fadeIn 1s 2.3s backwards;

            &::after {
                content: '</button>';
                margin-left: 50px;
                position: absolute;
                font-family: 'La Belle Aurore';
                font-size: 20px;
                color: lightslategrey;
                opacity: 0.8;
                animation: fadeIn 1s 2.4s backwards;
            }

            &:hover {
                background-color: gold;
                color: black;
            }
        }
    }
}