#homepageLogo {
    position: absolute;
    width: 40%;
    height: 50%;
    right: 0;
    top: 25%;

    svg {
        height: 100%;
        width: auto;
        stroke: white;
        stroke-width: 0.2px;

        circle {
            stroke: gold;
        }

        #rectangle {
            stroke: gold;
            transition: 1s ease all;
        }
    }
}

.fillColor {
    fill: gold;
}