#logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    svg {
        width: 50%;
        stroke: white;

        @media (min-width: '1920px') {
            width: 40%;
        }

        circle {
            stroke: gold;
        }

        #rectangle {
            fill: gold;
            stroke: gold;
        }
    }

    span {
        font-size: 0.5em;
        letter-spacing: 10px;
        text-align: center;
        margin-top: -15%;
        width: 100%;
        color: white;
        padding-left: 11%;
    }
}

@media(max-width: '900px') {
    #logo-wrapper {

        span {
            font-size: 0.3em;
        }
    }
}